<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
				<listeners>
					<add name="svclog" />
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="svclog" type="System.Diagnostics.XmlWriterTraceListener" initializeData="SoapClientCallAssistTests.Wcf.svclog" />
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>
</configuration>
